body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
  font-size: 12px;
}
.header-navbar {
  height: 200px;
  background-color: black;
  margin: auto;
}
.header-navbar a {
  height: 100%;
  font-size: 1.5vw;
  margin-left: 1.3vw;
}
.header-navbar .btn-default:hover, .header-navbar .btn-default:visited, .header-navbar .btn-default:active, .header-navbar .btn-default:focus {
  background-color: transparent;
  background: transparent;
}
.header-navbar img:hover {
  fill: red;
}
.search-input {
  width: 40vw;
}
.search-input .input-group-btn {
  background-color: white;
}
.btn-default {
  background-color: transparent;
  border-color: transparent;
}
.btn-default:hover {
  background-color: transparent;
  border-color: transparent;
}
.facebook img {
  margin-bottom: 12px;
}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
  background-color: #4698a4;
}
.nav-tabs .dropdown-menu {
  transition: 20s;
}
.nav-tabs>li>a {
  font-size: 1.4vw;
  display: inline;
}
.nav-tabs>li {
  height: 50px;
  margin-top: 10px;
}
.navbar-default .navbar-nav>li>a {
  color: white;
}
.navbar-default:hover .navbar-nav>li>a:hover {
  color: #888;
}
.nav-dropdown, .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  margin-left: 1vw;
  border: 0 !important;
}
.nav-dropdown a:hover {
  background-color: #c6cfd1 !important;
}
.col-p-elements {
  text-align: center;
  width: 35%;
}
.col-p-elements h1 {
  color: white;
  text-align: left;
}
.col-p-elements p {
  color: white;
  text-align: left;
}
.submenu-container {
  width: 70vw;
  margin-left: 10vw;
}
.nav-dropdown::after{
  content: "|";
  font-size: 1.5vw;
  font-weight: 500;
  margin-left: 2vw;
}
.submenu-container ul li:last-child::after{
  content: "";
}
.product-container {
  width: 100%;
  background-image: url(../public/images/topsection-background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.product-container img {
  height: 50vh;
}
.product-container .row {
  width: 70%;
  height: inherit;
  background-color: rgba(0, 0, 0, 0.4);
  margin: auto;
  padding-top: 8vh;
  padding-bottom: 8vh;
}
.description-container {
  width: 100%;
  background-color: gray;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.description-container img {
  height: auto;
  width: 30vw !important;
  margin-left: 0;
}
.description-container .row {
  width: 70%;
  margin: 8vh auto;
}
.review-container {
  width: 100%;
  color: white;
  background-color: #00314f;
}
.review-container .row {
  margin: 4vh auto 5vh;
  width: 80%;
}
.review-container h1 {
  margin: 0;
}
.review-container h3 {
  text-align: left;
}
.prod-img {
  padding-left: 0;
}
.prod-img img {
  width: 400px !important;
  margin-right: 135px;
}
.footer-navbar {
  width: 100%;
  background-color: black;
  border: 0;
  border-radius: 0;
  margin: 0;
}
.footer-navbar .row {
  margin: 0 10vw;
}
.footer-navbar .nav {
  float: right;
}
.review-link .btn{
  text-align: left;
  border: none;
}
.review-link:hover .btn {
  color: #888;
  background-color: transparent;
  border: none;
}
.review-link .btn:visited, .review-link .btn:active, .review-link .btn:focus {
  background-color: transparent;
  border: none;
}
.dropdown-menu>li>a {
  text-align: center;
}
.dropdown-custom, .dropdown-custom:hover, .btn-default:hover  {
  background-color: #678792;
  color: white;
  border-radius: 0;
  border-left: 1px solid rgba(0, 0, 0, 0.4);
}
.btn-toolbar>.btn:nth-child(2), .btn-toolbar>.btn-group:nth-child(2), .btn-toolbar>.input-group:nth-child(2) {
  margin-left: 35px;
}
.btn-toolbar {
  margin-top: 40px;
}
.numeric, .numeric:hover, .numeric:focus  {
  color: black;
  background-color: white;
  width: 97px;
  border-radius: 0;
}
.add-to-cart-btn, .add-to-cart-btn:focus, .add-to-cart-btn:active {
  color: white;
  width: 130px;
  background-color: #4698a4;
  border-radius: 0;
}
.review-link .btn {
  font-size: 20px;
  color: white;
  text-decoration: underline;
}
.modal-content {
  transition: 15s;
}

@media (max-width: 1204px) {
  .footer-navbar .container {
    width: 100%;
    padding-left: 5vw;
  }
  .footer-navbar .row {
    margin: 0;
    width: 100%;
  }
}

@media (max-width: 992px) {
  .container {
    height: 100%;
  }

  .col-p-elements {
    width: 100%;
    margin: auto;
    padding: 0;
    padding-top: 3vh;
  }
}
